<div class="feed-collection__container-offset">
    <h1>{{title}}</h1>
</div>
<div class="feed-collection__carousel" id="{{carousel}}">
    <div class="feed-collection__container" id="{{container}}">
        {{#each content}}
        <a href="/feed/{{this.id}}" data-id="{{this.id}}"
            style="margin-left: 1rem;"
            spa-link>
            <div class="feed-collection__container-card" title="{{this.name}}">
                <img src="{{this.previewPath}}" alt="{{this.previewPath}}">
            </div>
        </a>
        {{/each}}
    </div>
</div>