    <div class="video-item__container-card"
         title="{{content.name}}">
        <div>
            <img src="{{content.previewPath}}" alt="{{content.previewPath}}">

            <a href="/movies/{{content.id}}"
               style="margin-left: 1rem;"
               spa-link>
                <div class="video-item__advanced-info">
                    <div class="video-item__advanced-info__name">{{content.name}}</div>
                    <div class="video-item__advanced-info__rating"
                         data-rating="{{content.rating}}">{{content.rating}}</div>
                </div>
            </a>

        </div>

    </div>
