{{> partial/header/partial-header kind="feed-page" feedPage=true}}


<div class="content-container">

    <h1 class="content-container__title">{{film.film.name}}</h1>
    <video controls controlslist="nodownload noremoteplayback" class="content-container__player">
        <source src="{{film.film.mediaPath}}#t=10" type="video/mp4" />
    </video>
    <div class="content-container__advanced-info">
        <div class="content__like">Добавить в избранное <button class="heart-button"><i class="like"></i></button></div>
        <div class="content-container__advanced-info__meta">
            <div class="content-container__advanced-info__meta-year"><b>Год
                    выхода:</b>
                {{film.film.releaseYear}}</div>
            <div class="content-container__advanced-info__meta-age"><b>Возрастное
                    ограничение:</b> {{film.film.ageRestriction}}+</div>

            <div class="content-container__advanced-info__meta-time"><b>Длительность:</b>
                <span id="duration"></span>
            </div>
            {{> partial/rating/rating}}

        </div>
        <div class="content-container__advanced-info__about">
            <div class="content-container__advanced-info__description">
                {{film.film.description}}
            </div>
            <div class="content-container__advanced-info__genres-title">
                <b>Актеры</b>
            </div>
            <div class="serial-content-container__advanced-info__cast">
                <div class="serial-content-container__advanced-info__cast-list">
                    {{#each film.artists}}
                    {{> partial/cast-card baseUrl="cast" this=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="subs">
    <div class="dialog__wrapper">
        <h2>Для просмотра получите подписку</h2>
        {{> partial/button/btn-link href="/profile" kind="primary-xl"
        label="Перейти к профилю"}}
        <button id="subs_btn_close" aria-label="close" class="x">❌</button>
    </div>
</dialog>

{{> partial/footer/partial-footer}}