<div class="footer" kind="{{kind}}">
    <div class="footer__container footer__fonts">
        <div class="footer__row">
            <div
                class="footer__element footer__element-logo footer__element-border"
                kind="{{kind}}">
                {{> partial/netflix-logo/netflix-logo}}
            </div>
            <div class="footer__element footer__element-border" kind="{{kind}}">
                <p class="footer__element-text" kind="{{kind}}">Мы Команда Holi, это учебный проект в образовательном центре VK в МГТУ</p>
            </div>
            <div class="footer__element" kind="{{kind}}">
                <p class="footer__element-text" kind="{{kind}}">Мы не занимаемся фишингом, не планируем как-то компрометировать Netflix</p>
            </div>
        </div>
    </div>
</div>