<div class="footer" kind="{{kind}}">
    <div class="footer__container footer__fonts">
        <div class="footer__row">
            <div
                class="footer__element footer__element-logo footer__element-border"
                kind="{{kind}}">
                {{> netflix-logo}}
            </div>
            <div class="footer__element footer__element-border" kind="{{kind}}">
                <p class="footer__element-text" kind="{{kind}}">Команда Holi</p>
            </div>
            <div class="footer__element" kind="{{kind}}">
                <p class="footer__element-text" kind="{{kind}}">Осень 2023</p>
            </div>
        </div>
    </div>
</div>